// 條款、聲明
// ------------------------------------------------------ //
.declaration{
  @extend %primSecWidth;
  @extend %gradient1;
  font-size: 1.1em;
  padding: 40px 3vw;line-height: 1.8;
  a{
    &:hover, &:focus{ text-decoration: none;}
    &:focus{
    outline: 1px solid $linkColor;}
  }
  h3{
    margin: 0 0 2rem; font-size: 1.4rem;
    border-bottom: 3px solid $primaryColor;
  }
  p{
    margin: 1em 0;
    &.greeting{ font-weight: bold; font-size: 1.125em;}
  }
  ol, ul{ margin: 1em 0;
    &+.button{ margin-left: 2em;}
  }
  ol{
    &.tradChineseInformal{
      list-style-type: trad-chinese-informal;
    }
  }
  li{
    &+li{ margin-top: 1em;}
    ol{list-style-type: decimal;}
  }

  .btnDv{margin-top: 2.5em;}


  @media screen and (min-width: $wwNormal){
    padding: 40px;
  }

}
// ------------------------------------------------------ //


.agree{
  display: block; margin: 3em auto 0; padding: 1.5em 1em;
  text-align: center;
  border-top: 1px solid $borderColorLight;
}
