:root{
  font-size: 1em; // 16px

  --bodyBg: #fff;
}
body{
  margin: 0; padding: 0;
  font-family: Arial, Helvetica, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  color: $fontColor;
  background-color: var(--bodyBg);
  
  *, *::before, *::after{box-sizing: border-box;}
  a{ outline: none; color: #000;}
  figure{ display: block; margin: 0;}

  &.noScroll{ overflow: hidden; overflow-y:hidden; }

  &.smallFont .main{ font-size: .83rem;}
  &.largeFont .main{ font-size: 1.33rem;}

}

.main{
  position: relative; margin: 0 auto;  clear: both;

  @media screen and (min-width: $wwNormal){
    &:has(.topics) {
      background: url(../images/store_bg.jpg) no-repeat center bottom 300px;
      background-size: 100% auto;
    }
  }

  @media screen and (min-width: $wwMaximum){
    &:has(.topics) {
      background: url(../images/store_bg.jpg) no-repeat center bottom 300px;
      background-size: 100% 1127px;
    }
  }

}

// ------------------------------------------------------ //