// 電子書、電子期刊 
// ------------------------------------------------------ //
.eBook{
  @extend %primSecWidth;
  ul{list-style: none; margin: 0; padding: 0;}

  &>ul>li{
    margin:24px auto; padding: 0;line-height: 1.5;
    &>a {
      display: block;
    }
  }
  .info{
    &>div{ 
    }
    dt, dd { margin: 0; padding: 0; }
    dt {}
    dd {}
    
  }

  @media screen and (min-width: $wwMedium){
    &>ul{
      &>li {
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    &>ul{
      &>li{
      }
    }
  }

}
// ------------------------------------------------------ //