// 無障礙定位點
// --------------------------------------------------------------- //
.accesskey{
  position: absolute; display: none;
  @media screen and (min-width: $wwNormal){
    display: block; top: 0; z-index: 199;
    line-height: 1; padding: 2px;
    text-decoration: none; color: $fontColorLight;
    &:focus, &:hover{outline: 1px solid $linkColor;}
  }
}
@media screen and (min-width: $wwNormal){
  .webHeader .accesskey,
  .main .accesskey,
  .webFooter .accesskey {left: 1px; }
  .main .accesskey{color: rgb(255 255 0 / .4);
    &:focus, &:hover{outline-color: #fff;}
  }
}
@media screen and (min-width: calc($wwMaximum + 2em)){
  .webHeader .accesskey,
  .main .accesskey, 
  .webFooter .accesskey { left: calc(50% - $wwMaximum*.5 - 1em);}
  .main .accesskey{
    color: $fontColorLight;
    &:focus, &:hover{outline-color: $linkColor;}
  }

}



// 時間、日期格式
// --------------------------------------------------------------- //
time {
  display: inline-block; 
  color: $fontColorLight;
  font-family: Georgia, 'Times New Roman', Times, serif;
  // font-family: 'Times New Roman', Times, serif;
}
// --------------------------------------------------------------- //


// 鍵盤樣式
// --------------------------------------------------------------- //
kbd {
  display: inline-block; vertical-align: middle; 
  margin: 0 .1em; padding: 0 .4em; height: 1.7em; line-height: 1.6;
  font-size: .938em; font-family: sans-serif; font-weight: bold; 
  border: 1px solid $borderColor; border-radius: 3px; 
  color: $fontColor; background: $fontInvert; 
  box-shadow: $shadow1 0 2px 0 1px;
  i{font-weight: normal;}
}


// 跳至內容區 
// --------------------------------------------------------------- //
.goCenter{
  --bg:#{$primaryColor};
  --color:#{$white};

  display: none;
  @media screen and (min-width: $wwNormal) {
    display: block; z-index: 881;
    position: fixed; top: -2.2em; left: 50px;
    padding: 0 .5em; border-radius: 0 0 4px 4px;
    overflow: hidden;
    height: 1.8em; line-height: 1.9;
    text-decoration: none; outline: none; cursor: pointer;
    background-color: var(--bg); color: var(--color);
    transition:top .3s; 
    &:focus{ --bg: #{$primaryColor}; top: 0;}
  }
  @media screen and (min-width: $wwMaximum) {
    left: calc( 50vw  - #{$wwMaximum}*.5 + 50px );
  }
}
// --------------------------------------------------------------- //



// 回頁面最上方 
// --------------------------------------------------------------- //
.goTop{
  --tinge: #{$primaryColor};
  --bg: #{$white};
  --size: 72px;
  --arrowSize : 18px;

  position: fixed;right: 16px; bottom: -80px; z-index: 90; 
  width: var(--size); height: var(--size);
  text-indent: -15em;overflow: hidden;
  padding:0;margin: 0;
  border: none; border-radius: 50%; 
  background-color: var(--bg);
  box-shadow: rgb(0 0 0 / .3) 0 5px 12px 2px;
  transition: all .2s, bottom 1s;
  &::before{
    content: ''; position: absolute;
    box-sizing: border-box;
    width: var(--arrowSize); height: var(--arrowSize);
    left: calc( ( var(--size) - var(--arrowSize) )/2 ); top: calc( var(--size)/2 - var(--arrowSize)/3 );
    border: 3px solid var(--tinge); 
    border-bottom: none; border-right: none;
    transform: rotate(45deg);
  }

  &:hover, &:focus {
    --tinge: #{$white};
    --bg: #{$primaryColor};
    background-color: var(--bg);
  }
  &:focus {
    box-shadow:#fff 0 0 0 1px, var(--bg) 0 0 0 4px;
  }
  &.show{ bottom: 20px;}

  @media screen and ( min-width: calc($wwMaximum + 408px) ){
    right: calc(50% - $wwMaximum*.5 - var(--size) - 100px - 16px );
  }

}
// --------------------------------------------------------------- //



// 放大鏡圖示
// --------------------------------------------------------------- //
%searchIcon {
  --tinge : #000;
  
  position: relative;
  text-indent: -10em; overflow: hidden;
  
  &::before, &::after{
    content: ''; position: absolute;
  }
  &::before{
    left: calc(50% - 13px); top: calc(50% - 13px);
    width: 16px; height: 16px; 
    border: 2px solid var(--tinge); border-radius: 50%;
  }
  &::after{
    width: 12px; height: 2px; 
    top: calc(50% + 7px); left: calc(50% + 2px);
    border-radius: 1px;
    transform: rotate(45deg);
    background-color: var(--tinge);
  }
}
// --------------------------------------------------------------- //



// 查詢圖示 ｜ 行動版側欄開關 
// --------------------------------------------------------------- //
.sidebarCtrl, .searchCtrl {
  position: absolute;
  width: 56px; height: 56px; 
  margin: 0; padding: 0; border-radius: 0;
  border: none; box-shadow: none; outline: none;
  text-indent: -20em; overflow: hidden;
  cursor: pointer;
}

// 行動版側欄開關 （漢堡）
// --------------------------------------------------------------- //
button.sidebarCtrl{
  --tinge : #{$primaryColor};
  --bg: transparent;
  
  background-color: var(--bg);
  box-shadow: none;
  transition: .4s;
  &::before, &::after{
    content: ''; width: 24px; height: 2px;
    position: absolute; top: calc(50% - 1px); left: calc(50% - 12px);
    background: var(--tinge); 
    transition: .2s;
  }
  &::before{
    box-shadow: var(--tinge) 0 -7px 0, var(--tinge) 0 7px 0;
  }
  &::after {opacity: 0;}

  &:hover, &:focus {
    --tinge : #{$white};
    --bg: #{$primaryColor};

    background-color: var(--bg);
  }
  &:focus{ box-shadow: $primaryColor 0 0 0 3px inset, var(--tinge) 0 0 0 5px inset;}


  &.closeIt{
    --bg: #{$primaryColor};
    --tinge : #{$white};

    &::before, &::after{
      width: 26px;left: calc(50% - 13px);
      background-color: var(--tinge); 
    }
    &::before{ 
      transform: rotate(45deg);
      box-shadow: none;
    }
    &:after{
      opacity: 1;
      transform: rotate(-45deg);
    }
    &:hover {
      --tinge : #{$white};
      --bg: #{$primaryColor};
    }
  }
  


}
// --------------------------------------------------------------- //

// 查詢區開關圖示 
// --------------------------------------------------------------- //
button.searchCtrl{
  position: absolute;
  margin: 0; padding: 0; border: none;
  background-color: $primaryColor;
  //  box-shadow: none;

  &::before , &::after{ content: '';  position: absolute;}

  &::before{
    width: 20px; height: 20px;
    left: calc(50% - 10px); top: calc(50% - 10px);
    background:transparent url(../images/icon_search.svg) no-repeat 0 0;
    background-size: contain;
  }
  &:hover{ box-shadow: $primaryColor 0 0 0 2px inset, #fff 0 0 0 3px inset;}
  &:focus{ box-shadow: $primaryColor 0 0 0 3px inset, #fff 0 0 0 5px inset;}

  &.closeIt{
    &::before , &::after{
      position: absolute; top: calc(50% - 1px); left: calc(50% - 12px);
      width: 24px; height: 2px; border-radius: 1px;
      background: $white; 
      filter:none;
    }
    &::before {rotate: 45deg; }
    &::after {rotate: -45deg;}
  }

  @media screen and (min-width: $wwNormal){
    width: 92px; height: 92px; 
    background-color: $primaryColor;
  }
}
// --------------------------------------------------------------- //





// 側欄遮罩 
// --------------------------------------------------------------- //
.sidebarMask {
  display: none;z-index: 990;
  position: fixed;left: 0;right: 0;top: 0;bottom: 0;
  background-color: rgba(100,100,100,.75);
}
// --------------------------------------------------------------- //



// MORE
// --------------------------------------------------------------- //
.more{
  display: inline-block;
  margin: 30px auto 10px 50%;
  translate: -50% 0;
  text-align: center;
  font-size: 1rem;
  &::before, &::after {
    content: ''; position: absolute; 
    transition: .3s;
  }
  &::before {
    top: 31px;left: 50px;
    width: 10px; height: 10px;
    border: 2px solid $white;
    border-left: none; border-bottom: none;
    rotate: 45deg;
  }
  &::after {
    width: 12px;top: 35px; left: 47px;
    border-top: 2px solid $white;
  }
  a{
    display: block;
    min-height: 72px; line-height: 72px;
    padding: 0 24px 0 100px;
    text-decoration: none; outline: none; white-space: nowrap;
    color: $white;
    background-color: $primaryColor;
    transition: .2s;
    &::before {
      content: '';position: absolute; top: 0; left: 18px;
      width: 72px; height: 72px;
      border-radius: 50%;
      box-shadow: $white 0 0 0 2px inset;
    }
    &:hover {
      box-shadow: $primaryColor 0 0 0 3px;
    }
    &:focus {
      box-shadow:$primaryColor 0 0 0 2px, $white 0 0 0 3px, $primaryColor 0 0 0 6px;
    }
  }

}
// --------------------------------------------------------------- //



// slick 套件用元件樣式
// --------------------------------------------------------------- //
.slick-slider {
  position: relative;
  // width: 70vw; height: 40vh;

  button {
    border: none;outline: none;box-shadow: none;
    padding: 0; margin: 0;width: auto;
  }

  // 點點或數字
  .slick-dots { 
    --tinge: #e0dedb;
    --dotSize: 12px;
    --tingeActive: #{$primaryColor};
    list-style: none; margin:0 auto;padding: 0;
    font-size: 0; text-align: center;
    li { 
      display: inline-block; 
      margin: 0 3px; padding: 2px;
      button, span { 
        width: var(--dotSize); height: var(--dotSize); border-radius: 50%;
        overflow: hidden; box-shadow: none;
        background: var(--tinge);
        &:hover, &:focus{--tinge: #{$primaryColor};}
        // &:focus{ box-shadow:$primaryColor 0 0 0 2px;}
      }

      &.slick-active{
        --tinge: #{$primaryColor};

        button, span{ 
          box-shadow:var(--tinge) 0 0 0 2px;
          &:focus{ box-shadow:$white 0 0 0 1px, $primaryColor 0 0 0 3px;}
        }
      }

    }
  }

  // 左右箭頭
  button.slick-arrow {
    --buttonSize: 68px;
    --bgc: transparent;
    --tinge: #333;
 
    position: absolute; z-index: 9; 
    text-indent: -20em; overflow: hidden;font-size: 0;
    height: var(--buttonSize);width: var(--buttonSize); 
    border-radius: 50%;
    background-color: var(--bgc);
    box-shadow: var(--tinge) 0 0 0 2px;

    &::before, &::after {
      content: ''; position: absolute;
    }
    &::before {
      top: calc(50% - 5px);
      width: 10px; height: 10px;
      border: 2px solid var(--tinge);
      rotate: 45deg;
    }
    &::after {
      top: calc(50% - 1px); left: calc(50% - 7px);
      width: 14px;height: 2px;
      background-color: var(--tinge);
    }
    &.slick-prev {
      &::before{
        border-right: none; border-top: none;
        left: calc(50% - 7px);
      }
    }
    &.slick-next {
      &::before{
        border-left: none; border-bottom: none;
        right: calc(50% - 7px);
      }
    }

    &:hover, &:focus{
      --bgc: #{$primaryColor};
      --tinge: #fff;

      box-shadow: var(--bgc) 0 0 0 2px;
    }
    &:focus{
      box-shadow: var(--tinge) 0 0 0 2px, var(--bgc) 0 0 0 5px;
    }
  }
}
// --------------------------------------------------------------- //


// 關閉 「X」
// --------------------------------------------------------------- //
button.closeThis{
  --width:48px;
  --bar-length:28px;
  --bar-thick:4px;

  position: relative;
  height: var(--width); width:  var(--width); padding: 0; margin: 0;
  text-indent: -20em; overflow: hidden;
  border-radius: 0; border: none;
  background-color: $shadow1;

  &::before, &::after{
    content: ''; 
    position: absolute; 
    left: calc( (var(--width) - var(--bar-length))/2 );
    top:  calc( (var(--width) - var(--bar-thick))/2 );
    width: var(--bar-length); height: var(--bar-thick); 
    background-color: $white;
  }
  &::before{transform: rotate(45deg);}
  &::after{transform: rotate(-45deg);}

  &:hover, &:focus { 
    background-color: $assistant1;
    &::before, &::after{ background-color: $primaryColor;}
  }
}


// 跳離燈箱、行動版側欄元件
// --------------------------------------------------------------- //
button.skip{
  position: absolute; right: 0; bottom: 0; 
  padding: 0; margin: 0; width: 1px !important; height: 1px !important;
  background: none; box-shadow: none; 
  outline: none; border: none;
  text-indent: -20em; overflow: hidden;
}
// --------------------------------------------------------------- //



// 小標籤：［最新］、［展覽］、［活動］
// --------------------------------------------------------------- //
.label{ 
  display: inline-block;
  height: 2.1em; line-height: 2.3em; padding: 0 1em;
  background-color: $primaryColor; color: $white;
  &.style1 {background-color: #d74d11; color: $white;}
  &.style2 {background-color: #087c67; color: $white;}  
}
// --------------------------------------------------------------- //

// 圖釘 map pin icon
.mapPin {
  display: inline-block; margin: 0 5px;
  a{
    display: block; position: relative; 
    padding: 0 13px 0 36px;
    height: 2.2em; line-height: 2.3; border-radius: 2em;
    text-decoration: none;
    background-color: $white; color: $fontColor;
    box-shadow:$borderColor 0 0 0 1px, $shadow1 0 1px 4px;
    transition: .2s;
    &::before {
      content: '';
      position: absolute; left: 7px; top: calc(50% - 14px);
      width: 28px; height: 28px;
      background: url(../images/icon_mapPin.svg) no-repeat center center;
      background-size: auto 100%;
      transition: .2s;
    }
    &:hover, &:focus{
      background-color: $primaryColor; color: $white;
      &::before { filter: brightness(16);}
    }
    &:hover{ box-shadow:$primaryColor 0 0 0 1px, $shadow1 0 3px 6px;}
    &:focus{ box-shadow: $white 0 0 0 1px, $primaryColor 0 0 0 4px;}
  }
}



button.hasIcon{
  position: relative;
  &::before{
    content: ''; display: inline-block;
    position: relative; top: calc(50% - 18px);
    margin: 0 4px 0 0; width: 36px; height: 36px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    filter: brightness(15);
  }

  &.upload::before{
    background-image: url(../images/icon_upload.png);
  }
  &.delete::before{
    background-image: url(../images/icon_delete.png);
  }
  &.refresh::before{
    background-image: url(../images/icon_refresh.png);
  }
  &.voice::before{
    background-image: url(../images/icon_voice.png);
  }

  &:hover, &:focus {
    &::before{ filter:none;}
  }
}


// 跳離燈箱、行動版側欄元件
// --------------------------------------------------------------- //
button.skip{
  position: absolute; right: 0; bottom: 0; 
  padding: 0; margin: 0; width: 1px !important; height: 1px !important;
  background: none; box-shadow: none; 
  outline: none; border: none;
  text-indent: -20em; overflow: hidden;
}
// --------------------------------------------------------------- //


// 模擬 button 元件
// --------------------------------------------------------------- //
.button{
  margin: 30px 0 50px;
  &.center{text-align: center;}
  &>a {
    display: inline-block; text-decoration: none !important;
    padding: 0 2em; text-align: center;
    background-color: $primaryColor; color: $white !important;
    outline: none !important;
    height: var(--inputHeight); line-height: var(--inputLineHeight);
    transition: .2s;

    &:hover, &:focus {
      text-decoration: none;
      box-shadow: transparent 0 0 0 1px, $primaryColor 0 0 0 2px;
    }
    &:focus {box-shadow:$white 0 0 0 1px, $primaryColor 0 0 0 4px;}
  }

  @media screen and (min-width: $wwNormal){
    margin: 30px 0 70px;
  }

}
// --------------------------------------------------------------- //



// 控制輪播暫停、繼續 button
// --------------------------------------------------------------- //
button.pausePlay {
  --bg: rgb(0 0 0 / .5);
  --tinge: #fff;

  position: absolute;z-index: 99;
  width: 56px; height: 56px; border-radius: 50%;
  padding: 0; margin: 5;
  background-color: var(--bg);
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: .2s;
  &:focus, &:hover{ 
    background: var(--bg);
    box-shadow: var(--tinge) 0 0 0 1px, var(--bg) 0 0 0 4px;
  }
  &::before, &::after {content: ''; position: absolute;}
  &::before {
    top: calc(50% - 8px); left: calc(50% - 8px);
    width: 5px; height: 16px;
    background-color: var(--tinge);
    box-shadow:  var(--tinge) 11px 0 0 0;
  }
  &::after {
    display: none;
    top: calc(50% - 10px); left: calc(50% - 4px);
    width: 1px; height: 1px;
    border-style: solid;
    border-width: 10px 0 10px 12px;
    border-color: transparent transparent transparent var(--tinge);
  }
  &.paused{
    --bg: #{$primaryColor};
    --bgHover: #{$primaryColor};

    opacity: 1;
    &::before{ display: none; }
    &::after{ display: block; }
  }
}
// --------------------------------------------------------------- //
