// 首頁：探索國家故事
// .main>section:not(.explore) { display: none;}

.explore{
  position: relative;
  margin: 50px auto 100px;

  .blockHeader{ margin-bottom: 20px;}

  .flowItem{
    padding:0; margin: 0;
    aspect-ratio: .75;
    a {
      position: relative; 
      display: block;height: 100%;
      text-decoration: none;color: $white;
      transition: .4s;
      &::before{
        content: ''; opacity: 0; z-index: -1;
        position: absolute; left: 0;right: 0;top: 0;bottom: 0;
        box-shadow: $linkColor 0 0 0 2px inset;
      }
      &:hover, &:focus {
        img{ filter: brightness(1) saturate(1); }
      }
      &:focus {
        &::before{ opacity: 1; z-index: 9; }
      }
    }
    img{
      display: block; 
      width: 100%; height: 100%; object-fit: cover;
      filter: brightness(.5) saturate(.1);
      transition: .4s;
    }
    p{
      position: absolute; left: 0; right: 0; bottom: 0; 
      margin: 0; padding: 60px 22px 22px;
      line-height: 1.2; font-size: 1.6em; font-weight: bold;
      background: linear-gradient(180deg, rgb(0 0 0 /0) 0%, rgb(0 0 0 / .9) 85%);
      text-shadow: rgb(0 0 0 / .7) 1px 1px 5px;
    }

    &.slick-current{
      a img{filter: brightness(1) saturate(1);}
    }
  }

  .flow{
    width: $normalWidth;
    padding: 0 0 10px; margin: 0 auto;
    .slick-list {
      padding-top: 30px;padding-bottom: 30px;
    }
  }

  .slick-arrow {
    bottom: 10px;
    &.slick-prev { left: 0;}
    &.slick-next { translate: calc(100% + 24px) 0;}
  }

  .slick-dots{
    text-align: right;
    margin: 60px 10px 10px 170px;
  }

  .pausePlay {
    opacity: .4; left: 3vw; top: 10px;
    &:hover, &:focus{
      opacity: 1;
    }
  }

  @media screen and (min-width: $wwMedium){

    .flowItem{
      margin: 0 8px;
      transform-origin: bottom;
      transition: .4s;
      &.slick-current{
        box-shadow:$white 0 0 0 2px, rgb(0 0 0 / .3) 0 0 25px 4px;
      }
      &:not(.slick-current) {scale:1 .88;}
    }

    .flow{width: 100%;}

    .slick-arrow {
      &.slick-prev {left: 3vw;}
      &.slick-next {left: 3vw;}
    }
    .slick-dots{ margin-right: 3vw; margin-left: calc(3vw + 184px); }

    .pausePlay { top: 50px;}

  }

  @media screen and (min-width: $wwNormal){
    margin-top: 80px; margin-bottom: 90px;
  }


  @media screen and (min-width: $wwMaximum){
    .flow {
      width: $wwMaximum;
      .slick-list { margin-left: 50px; }
    }

    .pausePlay { left: calc(50vw - $wwMaximum*.5 + 50px) ;}

  }
  
}

@media screen and (min-width: $wwNormal){
 .event + .explore { margin-top: 0;}
}

// ------------------------------------------------------ //