// 項目與表格條列
// ------------------------------------------------------ //
.lp {
  @extend %primSecWidth;

  ul{ list-style: none; margin: 0; padding: 0; line-height: 1.6;}

  li{
    margin: 0;padding: 0;
    &>a{
      display: block; padding: 1em 0;
      text-decoration: none;
      color: $fontColor;
    }
    p{
      margin: 0;
      &.title{ font-size: 1.15em; margin: .5em 0;}
    }

    .label{
      height: 1.8em; line-height: 1.9;
    }
  }

  // 項目條列
  ul.list{
    font-size: 1.11em;
    border-top: 2px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    background-color: $white;
    &>li{
      border-bottom: 1px solid $borderColor;
      &>a {
        position: relative; padding-left: 3em;
        transition: .2s;
        &::after {content: ''; display: block; clear: both;}
        &:hover{ text-decoration: underline;background-color: $hover;}
        &:focus{
          box-shadow: $primaryColor 0 0 0 2px inset;
        }
      }

      .number{ 
        float: left;text-align: right;
        margin-right: 1em; margin-left: -3em;min-width: 2em; 
      }
      p{display: inline; margin-right: 1em;}
      time{float: right;}
      .label + time{margin-left: 1em;}
    }
  
  }

  // 修正 google 查詢結果頁排版錯誤 20240826
  .gsc-control-cse{ 
    *{box-sizing: content-box;}
    .gsc-search-box{padding: 0; margin: 0;}

    button.gsc-search-button{ height: 16px; padding-left: 16px; padding-right: 16px;}
    td.gsib_a{padding: 0;}
    input.gsc-input{ height: 1.8em !important;}
  }

  @media screen and (min-width: $wwNormal){
    ul.list{
      &>li{
        a {padding-right: 7em;}
        time {float: none; position: absolute; right: 16px; top: 1em;}
      }
    }

    // 修正 google 查詢結果頁排版錯誤 20240826
    .gsc-control-cse{
      button.gsc-search-button{ width: 36px;}
    }
  }

}
// ------------------------------------------------------ //



// 表格 table 條列
// ------------------------------------------------------ //
.lp > table.list { 
  border-collapse: collapse; line-height: 1.6; 
  width: calc(100% - 10px); margin:0 5px;
  background-color: $white;
  caption{
    padding: 0 0 .4em;
    font-size: 1.15em; font-weight: normal;
  }

  thead{
    background-color: $primaryColor; color: $white;
    th{ white-space: nowrap;}
  }

  // 固定表頭
  &.stickyHead {
    thead{ 
      position: sticky; top: 60px; z-index: 9;
      tr{ border-bottom: none;}
    }
  }

  tbody{
    border-bottom: 1px solid $borderColor;
    tr{
      transition: background .2s;
      &:nth-child(even) { background-color: $grayLight;}
      &:hover{ background-color: $assistant1;}
    }
  }

  th, td{padding: 15px;}

  td{
    text-align: center;
    &.aLeft{ text-align: left;}
    &.aRight{ text-align: right;}

    &.numb{ 
      text-align: right; width: 4em;
      &::after{content: '.'; position: static;}
    }
    &.title { font-size: 1.125em; text-align: left; }
    a{
      color: $primaryColor; text-decoration: underline; transition: .2s;
      &:hover, &:focus{text-decoration: none;}
      
      // 檔案格式圖示
      &.fileType{ 
        text-decoration: none !important; color: $white;
        &:hover, &:focus {
          box-shadow: var(--color) 0 0 0 1px inset, var(--bg) 0 0 0 2px;
          color: $white;
        }
        &:only-child { margin: 0 auto;}
      }
    }
    time{ display: inline-block; white-space: nowrap; }

    .downloadFiles{
      ul{ list-style: none; margin: 0; padding: 0; line-height: 1; }
      li{
        display: inline-block;padding: 0; margin: 2px;
        a{ text-decoration: none; display: block; padding: 0;}
      }
    }
  }

  @media screen and (max-width: calc($wwNormal - 1px)){
    &.stickyHead {
      thead{ top: 60px;}
    }
  }

  @media screen and (max-width: calc($wwMedium + 100px)){

    width: calc(100% - 10px); margin: 0 auto;

    &.rwdTable{
      thead{ display: none;}
      tbody{ border: none;
        tr{
          &:hover{ 
            background-color: transparent;
            box-shadow: $primaryColor 0 0 0 2px;
          }
        }
      }
      tr, th, td{ display: block;}
      tr{ 
        position: relative; overflow: hidden;
        padding: .5em 12px .4em; margin:0 0 10px;
        border: none; box-shadow: $borderColor 0 0 0 1px;
        transition: .2s;
      }
      th, td{
        position: static; padding: 0;margin: 0; text-align: left;
        border: none;
      }
      td{
        padding:.35em 0; text-align: left;
        border-bottom: 1px dotted $borderColor;
        &:last-child{ border: none;}
        &::before {
          content: attr(data-th); display: inline-block; margin-right: .5em;
          font-size: .92em; line-height: 1.7; height: 1.6em;
          background-color: $gray;color: $fontColor;
          padding: 0 .6em 1px 5px; border-radius: 3px 1em 1em 3px
        }
        &>a{ 
          text-decoration: underline; text-underline-offset: 3px;
          text-decoration-color: $linkColor;
          &:hover{
            text-decoration: none; color: $linkColor;
          }
          &.fileType {
            display: inline-block;margin: 2px;
            &:only-child{ margin: 2px; }
          }
        }
        &.numb{
          padding-top: 0; padding-bottom: 0; padding-left: 7px;
          display: block; text-align: left; font-weight: bold; width: auto;
          &::before{ display: none;}
          &::after{display: inline-block;}
        }

        .downloadFiles {display: inline;}
      }
    }
  
  }

}
// ------------------------------------------------------ //
// ------------------------------------------------------ //


// ------------------------------------------------------ //
.preface{

  @extend %primSecWidth; padding: 30px;
  line-height: 1.6;

  background: linear-gradient(180deg, #F6F6F6 0%, #F9F9F9 9.38%, #FFFFFF 100%);
  box-shadow: 0 0 4px 0 $shadow1;

  a{ text-decoration: underline; color: $linkColor;
    &:hover {text-decoration: none;}
    &:focus { text-decoration: none; outline: 1px solid $linkColor;}
  }

  strong{ color: $warning;}

  h3{margin-top: 0;}
  li+li{ margin-top: .5em;}

  .btnDv{ font-size: 1.1em;
    button:only-child{ min-width: 12em;}
  }
}


// 條列上方節點
// ------------------------------------------------------ //
.nodes{
  @extend %primSecWidth; 
  &>ul{
    list-style: none; margin: 0 -6px; padding: 0;
    font-size: 1.11em; line-height: 1.4;
    display: flex; flex-wrap: wrap;
    &>li{
      flex: 0 0 50%; padding: 6px;
      &>a {
        display: block; text-decoration: none;
        padding: .7em 16px .6em 22px; height: 100%;
        box-shadow: $borderColor 0 0 0 1px;
        color: $fontColor; background-color: $white;
        transition: .2s;
        &:hover, &:focus {
          box-shadow: $white 0 0 0 1px, $primaryColor 0 0 0 3px;
        }
      }

      &.here{
        a{
          position: relative;
          background-color: $primaryColor; color: $white;
          box-shadow: $primaryColor 0 0 0 1px;
          &:hover, &:focus {
            box-shadow: $white 0 0 0 1px, $primaryColor 0 0 0 4px;
          }

          &::before{
            content: ''; position: absolute; left: 1px;
            top: calc(50% - 14px);
            width: 0; height: 0;
            border-style: solid;
            border-width: 14px 0 14px 14px;
            border-color: transparent transparent transparent $white;
          }
  
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    margin-top: 40px; margin-bottom: 40px;
    &>ul{
      margin: 0 -10px; 
      &>li{
        padding: 10px;
        flex-basis: 33.33%;
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    // &>ul{
    //   &>li{
    //     flex-basis: 25%;
    //   }
    // }

  }

}