// 分頁
// ------------------------------------------------------ //
.pagination {
  --tinge: #{$primaryColor};
  --active: #{$primaryColor};
  --hover: #{$assistant1};
  --em: #045C9A;

  @extend %primSecWidth; 
  text-align: center;font-size: 1.1em; line-height: 1.5;
  letter-spacing: 0;
  form{ display: inline-block;}
  input, select{font-size: inherit; height: 2.4em; line-height: 2.4;}
  select{ background-position:right 8px top .95em;}
  a{text-decoration: none;}
  em{
    display: inline-block; margin: 0 .4em; 
    font-style: normal; font-weight: bold;
    color: var(--em);
  }

  abbr{
    display: inline-block; margin: 0 .4em; 
    text-decoration: none;font-weight: bold; color: var(--em);
  }

  .items{ 
    display: inline;
    a{ 
      display: inline-block; font-weight: bold; color: var(--em);
      height: 1.6em; line-height: 1.7; margin:0 3px;padding: 0 6px;
      transition: .2s;
      &:hover, &:focus{box-shadow: var(--tinge) 0 0 0 1px;}
      &.active{ 
        box-shadow: var(--active) 0 0 0 1px;
        &:hover, &:focus{box-shadow: var(--active) 0 0 0 2px;}
      }
    }
  }

  .page{ 
    display: flex; flex-flow: row wrap; justify-content: center;
    list-style: none; line-height: 1; letter-spacing: 0;
    margin:16px auto; padding: 3px; font-weight: bold;
    &>li{ 
      flex: 0 0 auto; margin:5px 3px;
      &:hover{ border-color: var(--tinge);}

      a{ 
        display: block; min-width: 2em;height: 2em; line-height: 2;
        position: relative; bottom: 0; padding: 0 5px;
        color: var(--em);
        transition:box-shadow .2s, background .2s;
        &:hover, &:focus {background-color: var(--hover); color: var(--tinge);}
      }
      
      &.active{
        a{
          color: $fontInvert; background-color: var(--active);
          &:hover, &:focus{ box-shadow:$assistant1 0 0 0 1px inset, var(--active) 0 0 0 2px;}
        }
      }

      // 箭頭
      &.first, &.prev, &.next, &.last{
        margin: 5px; text-indent: -20em;
        a{ 
          position: relative; overflow: hidden; padding: 0;
          @extend %gradient1;
          &::before, &::after { content: ''; position: absolute; top: 50%;}
          &::after{ // 直角
            width:11px; height:11px; margin-top: -7px;
            border: 3px solid var(--tinge); border-top: none; border-right: none;
            transform: rotate(45deg);
          }
          &:hover, &:focus{
            box-shadow: var(--tinge) 0 0 0 1px;
          }
        }
      }
      &.first, &.last{
        a{
          &::before{ // 直線
            width: 3px; height: 20px; left: 15px;
            transform: translateY(-50%);
            background-color:var(--tinge);
          }
        }
      }
      &.next, &.last{
        a::after{transform: rotate(225deg);}
      }
      &.first a::after {left: 20px; }
      &.prev a::after{left: 17px; }
      &.next a::after{left: 12px;}
      &.last a{
        &::before{ left: 25px;}
        &::after{ left: 9px;}
      }
    }
  }

}
// ------------------------------------------------------ //
