// 檔案半年刊-介紹頁
// ------------------------------------------------------ //
.periodical{
  @extend %primSecWidth; margin-bottom: 90px;
  @extend %gradient1;
  padding: 30px 3%;
  font-size: 1.1em;
  .cover{
    width: 100%; margin: 0 0 30px;
    img{ display: block;width: 100%; }
  }

  .links{
    list-style: none; margin:5px 0 0; padding: 0;
    display: flex; flex-wrap: wrap;
    line-height: 1; text-align: center;
    font-weight: bold;
    li{
      flex: 0 0 calc(50% - 6px);
      margin:0 12px 12px 0;
      &:nth-child(2n){margin-right: 0;}
      a {
        position: relative;
        display: block; 
        padding: 1em .5em; height: 100%;
        background-color: $white;color: $fontColorDark;
        box-shadow: $shadow2 0 4px 8px -2px;
        text-decoration: none;
        transition: .15s;
        &::after {
          content: ''; position: absolute;
          left: 0; right: 0; bottom: 0;
          height: 3px;
          background:$primaryColor;
          transition: .2;
        }
        &:hover, &:focus {
          box-shadow:$primaryColor 0 0 0 1px;
          &::after {
            height: 5px;
          }
        }
      }
    }
  }

  .description{
    line-height: 1.8; padding-top: 40px; padding-bottom: 20px;
    h3{
      position: relative;padding:0 0 6px 30px; margin: 0 0 20px;
      font-size: 1.4rem;  line-height: 1.2;
      &::before {
        content: '';position: absolute; left: 0; top: 4px;
        width: 16px; height: 1em;
        background-color: $primaryColor;
      }
    }

    p{
      margin: 0 0 1em;
    }
  }

  @media screen and (min-width: $wwMedium){

    padding-top:45px;overflow: hidden;
    .cover{float: left; width: 38vw; margin-right: 20px;}
    .description {clear: both;}

  }

  @media screen and (min-width: $wwNormal){

    padding:55px 3vw;
    .cover{margin-right: 3vw;}
    .description { 
      clear: none;
      margin-top: 30px;margin-left: 41vw;
    }

  }

  @media screen and (min-width: calc($wwNormal + 50px)){
    .links{
      li{
        flex-basis: calc(33.33% - 8px);
        &:nth-child(n) { margin-right: 12px;}
        &:nth-child(3n) { margin-right: 0;}
      }
    }
  }

  @media screen and (min-width: $wwMaximum){

    padding:55px $wwMaximum*.03;
    .cover{ width: $wwMaximum*.38; margin-right: $wwMaximum*.03;}
    .description{margin-left: $wwMaximum*.41;}
  }

}
