// 查詢：簡易查詢
// ------------------------------------------------------ //
.search{
  display: none;
  position: fixed; left: 0;width: 100%; top: 56px;
  padding:20px $marginDoc;
  background-color: $primaryColor; color: $white;
  box-shadow: rgb(0 0 0 / .6) 0 15px 30px;

  a{ color: $white;}

  form {display: flex; flex-flow: row nowrap;}
  input[type="text"], button, input[type="button"], input[type="submit"] {
    border: none;  box-shadow: none; outline: none;
    height: 2.8em;
    font-size: inherit;
  }
  // 查詢文字輸入
  input[type="text"]{
    flex: 1 1 80%; margin: 0;
    background-color: $white;
    &:hover {box-shadow:$white 0 0 0 2px;}
    &:focus {box-shadow:$primaryColor 0 0 0 1px, $white 0 0 0 3px;}
  }
  //送出查詢按鈕
  button, input[type="button"], input[type="submit"] {
    flex: 1 1 2em; margin: 0 0 0 6px;
    color: $primaryColor;
    background-color: $secondaryColor;
    &:hover { box-shadow:$secondaryColor 0 0 0 2px; }
    &:focus{ box-shadow: $primaryColor 0 0 0 1px, $secondaryColor 0 0 0 3px;}

  }

  .hotKeywords{
    margin: 12px auto 0;
    .label{
      background-color: transparent; color: $secondaryColor;
      padding: 0;
      &::after{content: '：';}
    }
    ul{list-style: none; margin:0; padding: 0;line-height: 1.3; display: inline;}
    li{ 
      display: inline-block; margin: 0 .5em 0 0; 
      a{
        position: relative; display: block;text-decoration: none;
        color: $white;
        &::after{
          content: ''; position: absolute; left: 50%; right: 50%;
          bottom: 0; height: 2px;
          background-color: $white;
          transition: .25s;
        }
        &:hover, &:focus { 
          &::after { right: 0; left: 0; }
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    display: none; z-index: 99;
    left: auto; right: 0; top: 92px;
    width: auto; min-width: 24em;
    box-shadow: rgb(0 0 0 / .5) 0 10px 30px;

    input[type="text"], button, input[type="button"], input[type="submit"] {
      height: 2.4em; line-height: 2.4;
    }
  }

  @media screen and (min-width: $wwMaximum ){
    right: calc(50% - $wwMaximum*.5);
  }


}
// ------------------------------------------------------ //