.stack {
  @extend %primSecWidth;

  ul{list-style: none; margin: 0; padding: 0;}
  &>ul{
    font-size: 1.11em;line-height: 1.6;
    &>li{
      position: relative; display: block;
      margin: 0 0 20px; padding: 10px;
      @extend %gradient1;
      box-shadow:$borderColor 0 0 0 0, $shadow1 0 2px 8px;
      color: $fontColor; 
      a{text-decoration: none;}

      img{ display: block;}
      .cover, .poster{
        display: block; width: 100%;  margin: 0 auto 16px;
        img{width: 100%; height: 100%; object-fit: contain;}
      }

      .label{ 
        position: absolute; left: 14px; top: -4px; 
        border-radius: 2px 2px 6px 6px;
        box-shadow: #0004 0 2px 3px; z-index: 9;
      }

      p{ 
        margin: 0 6px;
        a{ color: $fontColorDark;}
        &.title{ 
          font-size: 1.2em; font-weight: bold; 
          a{
            display: -webkit-box; 
            -webkit-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            overflow: hidden;
            &:hover{ text-decoration: underline;}
            &:focus {box-shadow: $primaryColor 0 0 0 2px; text-decoration: none;}
          }
        }
        &.description {
          margin: 30px 6px 20px;
          text-align: justify;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          overflow: hidden;
          &:has( ~ .more) {padding-bottom: 25px;}
        }
      }
      .info{
        margin:24px 6px 5px; padding: 0;
        abbr{ text-decoration: none; margin: 0 3px;}
      }

      .more{ left: auto; right: 0; translate: 0 0; }
    }
  }

  @media screen and (min-width: $wwMedium){
    &>ul>li{
      padding: 20px 32px 20px 20px;
      &::after{content: ''; display: block; clear: both;}
      .cover, .poster{ 
        float: left; width: 30vw; margin-right: 20px; margin-bottom: 0;
      }
      .cover{ height: 30vw;}
      .poster{
        img{ height: auto; min-height: 30vw;}
      }
      p.title {margin-top: 12px;}
      p.description{ margin-bottom: 4em;}
      .more{ 
        margin: 0;padding: 0;
        position: absolute; right: 32px; bottom: 22px;
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    &>ul>li{
      .cover, .poster{ width: 326px; margin-right: 32px; }
      .cover{ height: 326px;}
      .poster{
        img{ min-height: 326px;}
      }
      p.title {font-size: 1.6em;}
    }
  }

  @media screen and (min-width: $wwMaximum){
  }
}