.thumbnail{
  @extend %primSecWidth;
  --ratioP: 1.41379; // 海報 w:h = 1:1.41379（A系列紙張）

  ul{list-style: none; margin: 0; padding: 0;}
  &>ul{
    line-height: 1.6;
    &>li{
      margin: 0 0 20px;padding: 0;
      &>a{
        --bo-color: #{$borderColor};
        --bo-width: 1px;

        position: relative; display: block;height: 100%;
        padding: 10px;
        box-shadow:$borderColor 0 0 0 0, $shadow1 0 2px 8px;
        color: $fontColor; text-decoration: none;
        @extend %gradient1;
        transition: .3s;
        &:hover, &:focus{
          outline: none;
          transform: translateY(-5px);
          box-shadow: var(--bo-color) 0 0 0 var(--bo-width), $shadow1 0 7px 20px;
          .title{text-decoration: underline;}
          .frame::before {background-color: rgb(220 0 0 / .85);}
        }
        &:focus{ --bo-color: #{$borderColorDark};}
        &:focus-visible{ --bo-width: 2px;}
      }

      img{ display: block;}
      .image{
        display: block; width: 100%;  margin: 0 auto 16px;
        img{width: 100%; height: 100%; object-fit: contain;}
        &.website { margin-bottom: 20px;}
      }
      .frame{
        // youTube 影片截圖寬高比例 560x315
        position: relative;
        margin: -10px -10px 16px;width: calc(100% + 20px);
        height: calc($mobileWidthVW * .5625);
        img{object-fit: cover; }
        &::before, &::after{content: ''; position: absolute;}
        &::before{
          left: calc(50% - 32px); top: calc(50% - 32px);
          width: 64px; height: 64px; border-radius: 50%;
          background-color: rgb(0 0 0 / .3);
        }
        &::after {
          width: 0;height: 0;
          left: calc(50% - 5px); top: calc(50% - 11px);
          border-color: transparent transparent transparent #fff;
          border-style: solid;
          border-width: 11px 0 11px 16px;
        }
      }

      .label{ 
        position: absolute; left: 5px; top: -4px; 
        border-radius: 2px 2px 6px 6px;
        box-shadow: #0004 0 2px 3px; z-index: 9;
      }

      p{ margin: 0 6px;
        &.title{ 
          font-size: 1.2em; font-weight: bold; 
          overflow: hidden;
          display: -webkit-box; 
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        // &.description{
        // }
      }
     
      .info{
        margin:24px 6px 5px; padding: 0;
        abbr{ text-decoration: none; margin: 0 3px;}
      }
    }
  }

  @media screen and (min-width: $wwMedium){
    &>ul{
      display: flex; flex-flow: row wrap; justify-content: flex-start;
      &>li{
        flex: 0 0 calc(50% - 10px); width: calc(50% - 10px); margin-right: 20px;
        &:nth-child(2n){ margin-right: 0;}
        &>a{
          display: flex; flex-flow: column nowrap;
          &>* {flex: 0 0 auto;}
          .title{ flex-grow: 2;}
        }
        .image {
          flex-shrink: 0; flex-grow: 0;
          &.cover{
            // 書籍封面 w:h = 1:1
            height: calc($mobileWidthVW*.5 - 30px);
          }
          &.poster{
            // 海報 w:h = 1:1.41379（A系列紙張）
            height: calc( ($mobileWidthVW*.5 - 30px) * var(--ratioP));
          }
          &.frame {
            // youTube w:h = 1:.5625
            height: calc( ($mobileWidthVW*.5 - 10px) * .5625 );
          }
          &.website {
            // 相關網站 logo w:h = 20:7
            height: calc(($mobileWidthVW*.5 - 30px) * .35);
          }
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    &>ul{ 
      &>li{ 
        flex-basis: calc(33.3333% - 14px); width: calc(33.3333% - 14px);
        margin-bottom: 21px;
        transition: .3s;
        &:nth-child(n){margin-right: 21px;}
        &:nth-child(3n){margin-right: 0;}
        .image{
          &.cover{height: calc($normalWidthVW/3 - 34px); }
          &.poster{height: calc(($normalWidthVW/3 - 34px) * var(--ratioP) ); }
          &.frame {height: calc( ($normalWidthVW/3 - 14px ) * .5625 ); }
          &.website {height: calc(($normalWidthVW/3 - 34px) * .35 ); }
        }
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    &>ul{ 
      &>li{
        flex-basis: calc(25% - 15px); width: calc(25% - 15px);
        margin-bottom: 20px;
        &:nth-child(n){margin-right: 20px;}
        &:nth-child(4n){margin-right: 0;}
        .image {
          &.cover{height: calc($maximumWidth/4 - 35px);}
          &.poster{height: calc(($maximumWidth/4 - 35px) * var(--ratioP));}
          &.frame {height: calc( ($maximumWidth/4 - 15px ) * .5625 ); }
          &.website{height: calc(($maximumWidth/4 - 35px) * .35);}
        }
      }
    }
  }

}
