// RWD 斷點 
// ---------------------------------------------------------------- //
$wwSlim: 400px;
$wwMedium: 700px;
$wwNormal: 1000px;
$wwMaximum: 1280px;
// ---------------------------------------------------------------- //


// 長度常數
// ---------------------------------------------------------------- //
$sideBarWidth: 300px;  // 窄版側欄選單
$mobileWidth: 94%; // 窄螢幕寬度 moduals width in mobile
$normalWidth: 94%; // 寬螢幕寬度
$mobileWidthVW: 94vw; // 窄螢幕寬度 moduals width in mobile
$normalWidthVW: 94vw; // 寬螢幕寬度
$maximumWidth: $wwMaximum*.94; // 內容區最大寬度

// 文件邊界寬度
$marginDoc: 3%;
$marginDocMob: 3%;
$marginDocMax: calc(50% - $wwMaximum*.47);

$bigRadius: 32px; // 圓角半徑
$radius: 16px; // 圓角半徑
// ---------------------------------------------------------------- //



// 首頁主要區塊寬度
// ---------------------------------------------------------------- //
%primSecWidth {
  width: $mobileWidth; margin: 50px auto 100px;
  @media screen and (min-width: $wwNormal){
    width: $normalWidth; margin: 80px auto 120px;
  }
  @media screen and (min-width: $wwMaximum){
    width: $maximumWidth;
  }
}
// ---------------------------------------------------------------- //



// 顏色變數
// ---------------------------------------------------------------- //
// $primaryColor:#0F3D5F;
$primaryColor:#a2231c;
$secondaryColor: #edebe8;
$assistant1: #efbd33;
$hilight : #ef460e;
$warning: #ca0956;
$hover: #f6f3f2;

$fontColor: #202122;
$fontColorLight: #666;
$fontColorPale: #888;
$fontColorDark: #000;
$fontInvert: #fff;
$linkColor: #004e72;
$mainBg: #fff;

$borderColor: #cec8c8;
$borderColorLight: #e3dfdf;
$borderColorDark:#443939;
$shadow1:rgba(64, 57, 51, 0.2);
$shadow2:rgba(68, 52, 42, 0.5);

$white: #fff;
$black: #000;
$gray: #dedcd9;
$grayLight: #f2f0ef;
$grayDark: #767370;


%gradient1 {
  background: linear-gradient(180deg, #f5efeb 0%, #f8f5f1 9.38%, #FFFFFF 100%);
  box-shadow: 0 0 4px $shadow1;
}
%gradient2 {
  background: linear-gradient(180deg, #f6e5cf 0%, #fcf7ea 100%)  right 0 top 0;
  box-shadow: 0 0 4px 0 rgba(15, 61, 95, 0.2);
}

// ---------------------------------------------------------------- //