// 版頭
// --------------------------------------------------------------- //
.webHeader {
  position: relative; z-index: 991; 
  height: 56px; margin: 0 auto;
  background-color: $secondaryColor;
  h1{ 
    margin: 0 auto; padding: 5px 0 0; text-align: center;
    width: calc(100% - 120px);
    font-size: 1.5em; line-height: 50px;
    a{
      text-decoration: none; display: block;
      &:focus{ outline: 1px solid $primaryColor;}
    }
    img{ 
      display: block; margin: 0 auto;
      height: 46px; width: 90%; object-fit: contain;
    }
  }

  .sidebarCtrl, .searchCtrl {position: absolute; top: 0; }
  .sidebarCtrl { left: 0; }
  .searchCtrl { right: 0; background-color: $primaryColor; }

  &.fixed{
    position: fixed; left: 0; top: 0;right: 0;
    box-shadow: rgb(0 0 0 / 0.3) 0 0 16px;
    .searchCtrl { display: block;}
  }
  
  @media screen and (min-width: $wwNormal){
    height: auto; 
    background-color: $white;
    h1 {
      margin: 0 50% 0 $marginDoc; padding: 30px 0 14px;
      width: 55%; min-width: 556px;
      font-size: 1.5em;
      a{ height: 100%;}
      img{ display: block;margin: 0;width: 556px;}
    }

    .sidebarCtrl{ display: none;}
    .searchCtrl{top: 0; right: 0;}

    // 固定版頭
    &.fixed {
      box-shadow: rgb(0 0 0 / .4) 0 2px 12px;
      animation: fixHeadAni .5s 1 ease-out;
      h1{ 
        padding: 6px 0 0 $marginDoc;
        img{ width: 360px; height: auto;}
      }
      .headNav, .searchCtrl , .search{ display: none; }
    }
  }

  @media screen and (min-width: $wwMaximum){
    width: $wwMaximum;

    // 固定版頭
    &.fixed{ 
      width: 100%;
      h1{ margin-left: $marginDocMax; padding-left: 0;}
    }
  }

}
// --------------------------------------------------------------- //

@keyframes fixHeadAni {
  0% {transform: translateY( -100% );}
  100% {transform: translateY(0);}
}
