// 頁尾

// webFooter 內的元件、模組
// --------------------------------------------------------------- //
// 開關
// --------------------------------------------------------------- //
.fatFootCtrl{
  --ting: #fff;
  --bg: #000;
  --size: 56px;
  --arrowSize: 22px;

  position: absolute; z-index: 9; 
  top: 0; right: $marginDoc;
  height: var(--size); aspect-ratio: 2;
  padding: 0; margin:0;
  text-indent: -20em; overflow: hidden;
  border: none; box-shadow: none;
  background-color: var(--bg);

  &::before, &::after {content: ''; position: absolute;}
  &::after {
    width: 2px; height: 28px;
    background-color: #fff;
    left: calc(50% - 2px); top: 14px;
  }
  &::before {
    width: var(--arrowSize);height: var(--arrowSize);
    left: calc( var(--size) - var(--arrowSize)/2 - 1px); 
    top: calc( 50% - var(--arrowSize)/2 );
    rotate: 45deg;
    border-width: 2px;
    border-style: solid;
    border-right-color: transparent; border-bottom-color: transparent;
    border-left-color: var(--ting); border-top-color: var(--ting);
    transition: .25s;
  }

  &:hover, &:focus {
    --bg: #{$primaryColor};

    box-shadow: none;
    background-color: var(--bg);
  }


  &.closed{
    &::before{
      border-left-color: transparent; border-top-color: transparent;
      border-right-color: var(--ting); border-bottom-color: var(--ting);
    }
  }

  @media screen and (min-width: $wwMaximum){
    right: $marginDocMax;
  }
}
// --------------------------------------------------------------- //

// fat footer 可開合區
// --------------------------------------------------------------- //
.fatFooter {
  position: relative; padding: 100px 0 40px;
  background-color: $secondaryColor;
}
// --------------------------------------------------------------- //

// 頁腳選單
// --------------------------------------------------------------- //
.siteTree{
  margin: 0 auto; width: $mobileWidth;
  ul {
    list-style: none;margin: 0;padding: 0;
    line-height: 1.3;
  }
  li{ 
    margin: 0;padding: 0;
    a{display: block; color: $fontColor; text-decoration: none;}
  }

  &>ul{
    margin: 0 auto; 
    display: flex; flex-flow: row wrap;
    gap: 20px;

    &>li{
      flex: 0 0 calc(50% - 10px);
      margin: 0 0 20px; padding: 0;
      &>a{
        position: relative; 
        padding: 0 0 4px;
        font-weight: bold;
        &::after{
          content: ''; position: absolute; left: 0; right: 0; bottom: 0;
          height: 0; background-color: $primaryColor;
          transition: .1s;
        }
        &:hover, &:focus{
          &::after { height: 4px;}
          &+ul{border-top-color: $primaryColor;}
        }
        &:focus-visible {
          box-shadow: $primaryColor 0 0 0 2px;
          &::after{display: none;}
        }        
      }

      &>ul{
        display: none;
        margin-bottom: 3em; padding-top: .5em;
        font-size: .875em;
        
        &>li{
          margin: .4em 0;
          &>a{
            position: relative;
            padding: .5em 0 .1em;
            // border-bottom: 1px solid transparent;
            transition: .2s;
            &::after {
              content: ''; position: absolute; bottom: 0; left: 0; right: 100%;
              height: 2px;
              background-color: $primaryColor;
              transition:right .2s;
            }
            &:hover, &:focus{
              &::after{right: 0;}
            }
            // &:focus{border-bottom-color: $primaryColor;}
            &:focus-visible {
              box-shadow: $primaryColor 0 0 0 2px inset;
              &::after{display: none;}
            }
          }
        }

        // 只顯示到第二層
        ul{display: none;}
      }
    }
  }

  @media screen and (min-width: calc($wwSlim + 160px)){
    &>ul{
      &>li{
        flex-basis: calc(25% - 15px);
      }
    }
  }

  @media screen and (min-width: $wwMedium){
    &>ul{
      &>li{
        flex-basis: calc(20% - 16px);
      }
    }
  }
 
  @media screen and (min-width: $wwNormal){
    &>ul{
      gap: 15px;
      justify-content: space-between;
      flex-wrap: nowrap;
      &>li{
        flex:1 1 calc(10% - 13px);
        margin-top: 0;
        &>ul>li{margin-bottom: .8em;}
      }
    }
  }

  @media screen and (min-width: $wwMaximum){
    width: $maximumWidth;
  }

}
// --------------------------------------------------------------- //




// --------------------------------------------------------------- //
// --------------------------------------------------------------- //
// --------------------------------------------------------------- //
.webFooter {
  position: relative;

  // 兩個 logo
  img.logo {
    display: block;width: 100%; max-width: 400px;
  }
  img.logoArchives {
    display: block; width: 186px;
    margin: 16px 0 24px;
  }

  // 地址電話
  .address {
    line-height: 1.3;
    p {
      margin: 0;
      &+p {margin-top: .5em;}
    }
  }


  // 隱私權宣告 等
  .textLinks {
    list-style: none; margin:20px 0;padding: 0;
    display: flex; flex-flow: row wrap;
    li{
      position: relative;
      margin: 0 .55em 12px 0; padding: 0 .6em 0 0;
      &::after {
        content: ''; position: absolute;
        right: 0; top: 0; height: 1.5em; width: 1px;
        background-color: $fontColorLight;
      }
      &:last-child {
        margin-right: 0; padding-right: 0;
        &::after {display: none;}
      }
      a{
        position: relative;
        display: block; padding: 2px;
        text-decoration: none;
        &::after {
          content: ''; 
          position: absolute; left: 0; bottom: 0; right: 0;
          height: 2px; 
          transition: .2s;
        }
        &:hover, &:focus { 
          &::after{background-color: $primaryColor;}
        }
        &:focus-visible {
          box-shadow: $primaryColor 0 0 0 2px inset;
        }
      }
    }
  }

  // youtube , facebook
  .iconLinks {
    float: left;
    list-style: none;margin: 0 0 1px 0;padding: 0;
    li{
      float: left; 
      margin:0; padding: 0;
      &+li{ margin-left: 12px;}
      a{ 
        display: block; padding: 4px; border-radius: 4px;
        transition: .2s;
        img{ display: block; width: 50px;}
        &:hover, :focus {box-shadow: $shadow2 0 0 12px;}
        &:focus-visible {box-shadow: $borderColorDark 0 0 0 2px;}
      }
    }
  }

  // 無障礙標章
  .badge{
    float: right; margin-top: 5px;
    a {
      display: block;
      transition: .2s;
      img{ display: block; width: 150px; }
      &:hover, &:focus {
        box-shadow: $white 0 0 0 1px, $borderColorDark 0 0 0 3px;
      }
    }
  }

  // 瀏覽人次, 更新日期
  .update{
    clear: both;
    list-style: none; margin:0;padding:20px 0 0;line-height: 1.1;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    li{ 
      flex: 0 0 auto;
      &+li{ margin-left: 24px;}
    }
  }
  
  // 排版
  .baseRow {
    width: $mobileWidth; margin: 0 auto;
    padding: 30px 0 100px;
    .column2{position: relative; padding-top: 8px; margin-top: 30px; border-top: 1px solid $borderColor;}
  }

  @media screen and (min-width: $wwMedium){

    .iconLinks{float: none; position: absolute; bottom: 0;}
    .update{justify-content: flex-end;}

  }

 
  @media screen and (min-width: $wwNormal){

    .textLinks { margin:0 0 20px;}

    .badge{
      margin-left: 150px;
      a { float: right;}
    }

    .update{ 
      margin: 0; 
      li{white-space: nowrap;}
    }

    .address {
      margin-top: auto;
      p {margin: 0;
        &+p{margin-top: .4em;}
      }
    }

    // 排版
    .baseRow {
      display: flex; flex-flow: row wrap;
      justify-content: space-between; gap: 40px;
      .column1{
        flex: 0 1 400px;
        min-width: 400px;
        display: flex; flex-flow: column nowrap;
      }
      .column2{
        flex: 0 0 auto;
        max-width: calc(100% - 440px);
        min-width: min-content;
        position: relative; 
        display: flex; flex-flow: column nowrap;
        margin-top: 0; padding-top: 0; border: none;
      }
    }

  }

  @media screen and (min-width: $wwMaximum){

    .baseRow { width: $maximumWidth;}

  }

  @media screen and ( min-width: calc($wwMaximum + 144px + 64px) ){

    .baseRow{padding-bottom: 30px;}
    
  }

}
// --------------------------------------------------------------- //
